fastapi
uvicorn[standard]
python-multipart
streamlit
pypdf
PyMuPDF
python-docx
pdfplumber 
pytesseract 
pdf2image 
pillow
langchain 
langchain-experimental 
langchain-huggingface 
sentence-transformers
faiss-cpu
rank-bm25
transformers
torch
accelerate
requests
openai 
python-dotenv